<div class='dropdown'>
  <button
    {{on 'click' this.dropdown}}
    class='dropdown-button {{if this.open "focus"}}'
  >

    {{@title}}
    <img class='dropdown-icon {{if this.open "focus"}}' />
  </button>
  <div class='dropdown-list {{if this.open "show"}}'>
    {{yield}}
  </div>
</div>