{{page-title 'Post'}}
<article class="full-post">
  <div class="blogpost-header">
    <h1><span>{{@model.title}}</span></h1>
  </div>
  <p class="post-date"> post created in {{format-date @model.date}}</p>
  <div class="blogpost-body">
    {{{@model.html}}}
  </div>
  <UpButton/>
</article>
{{outlet}}